.popup {  
    position: fixed;  
    width: 50%;  
    height: 30%;
    padding: 50px;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color:whitesmoke;
    text-align:center;
    border-radius: 10px;
    border:1px lightgray solid;
    box-shadow: -6px 6px 2px 1px rgba(0, 0, 55, .2);
    z-index: 7;
  }  
  .popup\_inner {  
    position: absolute;  
    left: 25%;  
    right: 25%;  
    top: 25%;  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    background: white; 
  }

  .popup-btn {
    width: 20%;
    height: 30px;
    border-radius:10px;
    background-color: lightblue;
  }

  .loose-score {
    text-shadow: none;
    color:green;
  }

  