nav {
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto;
    background-color:black;
    width:100%;
    height:100px;
    color:white;
    background-image: url('https://i.stack.imgur.com/UJur5.png');
    background-size: cover no repeat;
}

.score-wrapper {
    display:grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto;
}

h1 {
    justify-self:center;
    align-self:center;
    font-size: 2.5vw;
}
